.text-center h2 {
    color: #FFFFFF;
    margin-top: 40px;
}

.centeredDiv {
    padding: 20px;
    background: #FFF;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    opacity: 1;
    border: solid 5px #34bf49;
}

.spinner {
    width: 150px;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    margin-top: 14px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #34bf49;
    font-size: 130%;
    font-weight: 500;
}

#delete {
    font-weight: bold;
}

#delete:hover {
    color: red;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

#detail {
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    width: auto;
    margin-top: 10px;
    padding: 10px;
}


.page-wrap {
    margin-bottom: 50px;
}

#add {
    background-color: #34bf49;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    outline: none;
}

#minus {
    background-color: #fa2b1b;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    outline: none;
}
