body {
    background-color: whitesmoke;
    color: black;
}

.gallery h3 {
    color: black;
}

.text-center {
    padding: 30px;
}

.service-content {
    width: 80%;
    padding: 0 25px 25px 25px;
    margin: auto;
    border-left: 0.2px solid black;
    border-right: 0.2px solid black;
    min-height: 500px;
    margin-bottom: 50px;
}

.list-card {
    background-color: white;
    padding: 25px;
    overflow: auto;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    border: solid 1.5px #34bf49;
    box-shadow: 5px 5px 5px #888888;
}

.list-card a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.list-card a:hover {
    color: #34bf49;
}

.list-card img {
    margin-top: 15px;
}

.container .list-card img {
    width: 240px;
    height: 180px;
    background-color: green;
    border: 0;
    display: inline-block;
    float: left;
    margin-right: 18px;
    box-shadow: 5px 5px 5px #888888;
}

.list-label {
    background-color: #1fc055;
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    margin-top: 10px;
    font-size: 12px;
    padding: 4px;
    color: #fff;
}

.list-details {
    float: none;
}

.list-name {
    font-size: 20px;
    display: inline-block;
}

.list-landmark,
.list-location {
    font-size: 12px;
    opacity: 0.8;
    margin: 3px;
}

.list-rooms {
    font-size: 12px;
}

.list-price {
    font-size: 20px;
    margin-top: 16px;
}

.list-bottom {
    display: inline-block;
    overflow: auto;
    margin-top: 26px;
}

.list-bottom .list-bottom-section {
    width: 120px;
    box-sizing: border-box;
    float: left;
    font-size: 14px;
    padding: 0 20px;
    border-left: 1px solid #e5e5e5;
}

.list-bottom .list-bottom-section span:last-of-type {
    opacity: 0.5;
}

.list-bottom .list-bottom-section:first-of-type {
    padding-left: 0;
    border-left: 0;
}

.list-bottom .list-bottom-section span {
    display: block;
}

.list-callback,
.list-shortlist {
    float: right;
}

.list-shortlist {
    margin-right: 15px;
}

#link {
    height: 95px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.box1 {
    float: left;
    margin-left: 20px;
    padding-right: 20px;
}

.box1 a {
    text-decoration: none;
    color: black;
}

.box1 a:hover {
    color: green;
}

#link span {
    float: left;
    font-size: 15px;
    margin-top: 3px;
}

.box1 .dropdown-menu{
    position: inherit;
    float: none;
    min-width: 100px;
    background: whitesmoke;
    border: none;
    -webkit-box-shadow:none;
    margin-left: -20px;
    font-size: 18px;
    font-weight: 400;
}
